html {
    height: 100%;
    margin: 0;
}
header{
	text-align: center;
	color: white;
	top: 8%;
}
header h1{
	font-size: 50px;
}
body {
    height: 100%;
    margin: 0;  
}
hr{
    border: 0;
    border-bottom: 1px dotted black;
    background: #999;
    margin:0;
}
a{
	color: hotpink;
	text-decoration: none;
}

body {
background: -moz-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(137,10,255,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,0,0,1)), color-stop(100%, rgba(137,10,255,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(137,10,255,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(137,10,255,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(137,10,255,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(137,10,255,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#890AFF', endColorstr='#ff0000',GradientType=1 ); /* ie6-9 */font-family: 'Josefin Sans', sans-serif;
font-weight: 400;
background-repeat: no-repeat;
background-attachment: fixed;
color: black;
}
h1{
	font-weight: 300;
	font-size: 45px;
}
#form-box h1{
	padding: 0;
	margin: 0;
	padding-top: 5px;
}
#form-box{
	background-color: white;
	width: 60vw;
	box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
	height: auto;
	position: relative;
	top: 5%;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	font-size: 24px;
}

button{
	background-color: #890AFF;
	border-width: 0px;
	border-color: #D3D3D3;
	border-style: solid;
	border-radius: 2px;
	color: white;
	height: 34px;
	font-size: 24px;
	font-weight: 300;
	font-family: 'Josefin Sans'
	margin: auto;
}
#form-container{
	padding: 10px;
	padding-top: 5px;
	font-size: 24px;
	text-align: left;
	width: 80%;
	margin: auto;
}
select{
	height: 35px;
	background-color: white;
	border-width: 0;
	border-bottom: 1px solid darkgray !important;
	height: 35px;
	font-size: 24px;
	font-weight: 300;
	font-family: 'Josefin Sans'
}
input{
	border-width: 0;
	border-bottom: 1px solid darkgray !important;
	width: 100%;
	outline:none;
	height: 35px;
	font-size: 24px;
	font-weight: 300;
	font-family: 'Josefin Sans'
}
textarea:focus, input:focus{
    outline: none;
}