html {
    height: 100%;
    margin: 0;
}
header{
	text-align: center;
	color: white;
	top: 8%;
}
header h1{
	font-size: 50px;
}
#footer{
	position: fixed;
	bottom: 0;
	margin: auto;
	width: 100%;
	text-align: center;
}
body {
    height: 100%;
    margin: 0;  
}
hr{
    border: 0;
    border-bottom: 1px dotted black;
    background: #999;
    margin:0;
}
a{
	color: hotpink;
	text-decoration: none;
}

body {
background-color: black;
font-weight: 400;
color: white;
font-family: 'Josefin Sans';
}
h1{
	font-weight: 300;
	font-size: 45px;
}
#form-box h1{
	padding: 0;
	margin: 0;
	padding-top: 5px;
}
#form-box{
	background-color: black;
	width: 80vw;
	height: auto;
	position: relative;
	top: 5%;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	font-size: 24px;
	display: flex;
}
.scale{
	width: 100%;
}
.heightscale{
	height: 50%;
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}
#answer{
	width: 33%;
}
#spotify_box{
	opacity: 0;
}
#hp{
	width: 33%;
}
#sw{
	width: 33%;
}
#correct{
	color: green;
}
#wrong{
	color: red;
}
button{
	background-color: #890AFF;
	border-width: 0px;
	border-color: #D3D3D3;
	border-style: solid;
	border-radius: 2px;
	color: white;
	height: 34px;
	font-size: 24px;
	font-weight: 300;
	font-family: 'Josefin Sans'
	margin: auto;
}
#form-container{
	padding: 10px;
	padding-top: 5px;
	font-size: 24px;
	text-align: left;
	width: 80%;
	margin: auto;
}
select{
	height: 35px;
	background-color: white;
	border-width: 0;
	border-bottom: 1px solid darkgray !important;
	height: 35px;
	font-size: 24px;
	font-weight: 300;
	font-family: 'Josefin Sans'
}
input{
	border-width: 0;
	border-bottom: 1px solid darkgray !important;
	width: 100%;
	outline:none;
	height: 35px;
	font-size: 24px;
	font-weight: 300;
	font-family: 'Josefin Sans'
}
textarea:focus, input:focus{
    outline: none;
}