<!DOCTYPE html>
<html>
<head>
	<title>Hoth or Hogwarts?</title>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>



	<header><img class="scale" src="{{ url_for('static', filename='header.png')}}"></header>
	<div id="form-box">
	<div id="sw">
		<img class="scale guess" id="saber" name='hoth' src="{{ url_for('static', filename='saber.png') }}">
	</div>
	<div id="answer">
		<div id="spotify_box">
		{%if track_info['type'] == 'preview_url'%}
		<!-- start audio if track has a preview -->
		<audio autoplay>
			<source src="{{track_info['source']}}" type="audio/mp3">
		</audio>
		{%else%}
		<iframe id="spotify" src="/embed_player?uri={{track_info['source']}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

		{%endif%}

	</div>
	</div>
	<div id="hp">
		<img class="heightscale guess" id="wand" name='hogwarts' src="{{ url_for('static', filename='wand.png') }}">
	</div>
	</div>
	<div id="footer">
	<p>
		lightsaber gif <a href="http://www.angelfire.com/theforce/bishopofbattle/gifs.htm" target="blank">credit</a> wand image <a href="http://img3.wikia.nocookie.net/__cb20150115092133/harrypotter/images/6/63/Harry_Potter%27s_Wand.png" target="blank">credit</a>
	</p>
	<!-- wand and saber animation -->
	<script>
		var game_over = false;
		//animate saber
		$('img#saber').mouseenter(function (){
			toggleSaber($(this))
		}).mouseleave(function (){
			toggleSaber($(this))
		})

		//check guess
		$('img.guess').click(function(){
			if (!(game_over)){
			checkGuess($(this))}
		})
		//animate wand
		$('img#wand').mouseenter(function (){
			$(this).effect('bounce', {times:2, distance: 20}, 'slow')
		}).mouseleave(function (){
			console.log('leaving')
		})

		//autoplay workaround for spotify
		$('iframe#spotify').on('load', function() {
			// $('iframe').contents().find('button').click(function() {
   			// alert('click');
			// });
			// alert($('iframe#spotify').contents().find('button').attr('class'))
			console.log('iframe loaded!');
			window.setTimeout(function() {
				$('#play-button').click();
				console.log('click');
			}, 1000);
		});
 

		// function to switch image and gif
		function toggleSaber(image){
			var image_name =image.attr('src')
			var extension = image_name.split('.').pop()

			if (extension == 'png'){
				image.attr('src', "{{ url_for('static', filename='saber.gif')}}" )
			}else{
				image.attr('src', "{{ url_for('static', filename='saber.png') }}")
			}};

		//function to move wand
		function moveWand(wand){
			var degrees = 50;
			var start = 0;

			while (start < degrees) {
				console.log(start);
				wand.css('WebKitTransform', 'rotate('+start+')');
				wand.css('transform', 'rotate('+start+')');
				start ++;
			}
		}

		//check guess
		function checkGuess(img){
			var answer = "{{track_info['label']}}"
			var guess = img.attr('name')

			addAlbumArt();

			if (answer == guess){
				$('div#answer').append('<div id="correct"><h2>SCORE!</h2></div>')
			}else{
				$('div#answer').append('<div id="wrong"><h2>NOPE!</h2></div>')
			}

			game_over = true;
			startCountdown();
		}

		function addAlbumArt(){
			$('div#answer').append("<img class='scale' src={{track_info['image']}}>")
		}

		//begins the page reload process
		function startCountdown(){
			var start = 5

			//add countdown text to dive
			$('div#answer').append('<p>New song in <span id="timer">'+start+'</span></p>')

			// create timer
			var timer = setInterval(function(){
				start--;
				if (start == 0){
					clearInterval(timer)
					//reload the page
					location.reload()
				}
				//change the number in the div
				$('span#timer').text(start)

			}, 1000);
		};

	</script>
</body>
</html>
