<!DOCTYPE html>
<html>
<head>
	<title>Hoth or Hogwarts?</title>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<header><img class="scale" src="{{ url_for('static', filename='header.png')}}"></header>
	<div id="form-box">
		<h1></h1>
	<div id="sw">
		<img class="scale" src="{{ url_for('static', filename='saber.gif') }}">
	</div>
	<div id="spotify-container">
		<p>THIS IS WHERE THE<BR> SPOTIFY BOX GOES</p>
	</div>
	<div id="hp">
		<img class="heightscale" src="{{ url_for('static', filename='wand.png') }}">
	</div>
	</div>
	<div id="footer"><p>lightsaber gif <a href="http://www.angelfire.com/theforce/bishopofbattle/gifs.htm" target="blank">credit</a></footer> wand image <a href="http://img3.wikia.nocookie.net/__cb20150115092133/harrypotter/images/6/63/Harry_Potter%27s_Wand.png" target="blank">credit</a>
</body>
</html>
